@page "{searchString?}"
@model TechnicalTranslations.Pages.Translations.IndexModel

@{
    ViewData["Title"] = "Translations";
}

<h2>Translate</h2>

<p>
    <a asp-page="Create"><input type="submit" value="Create New" class="btn btn-default" /> </a>
</p>

<form>
    <p>
        <br />
        <input type="text" asp-for="SearchString" class="form-control" />
        <br />
        <input type="submit" value="Search" class="btn btn-primary btn-lg btn-block" />
        <br />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Word[0].Swedish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Word[0].English)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Word)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Swedish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.English)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
